.hidden{
  display: none;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
}
footer {
  background-color:var(--main-color);
  color: #a7a7a7;
  font-size: 16px;
  clip-path: polygon(0% 0%, 50% 16%, 100% 0, 100% 100%, 0% 100%);

}
footer a{
  color: #a7a7a7;
}
footer * {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
  margin-top: 5rem;
}
footer .row {
  padding: 1em 1em;
}
footer .row.primary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  align-items: stretch;
}
footer .column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}
h3 {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 1.4em;
  white-space: nowrap;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
footer li:not(:first-child) {
  margin-top: 0.8em;
}
footer ul li a {
  color: #a7a7a7;
  text-decoration: none;
}
footer ul li a:hover {
  color: #2a8ded;
}
footer .about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
}
footer input,
footer button {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}
footer button {
  background-color: #c7940a;
  color: #ffffff;
}
footer div.social {
  display: flex;
  justify-content: space-around;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
}
footer .social i {
  color: #bac6d9;
}

.copyright {
  padding: 0.3em 1em;
  background-color: #25262e;
}
footer .footer-menu{
  float: left;
    margin-top: 10px;
}

footer .footer-menu a{
  color: #cfd2d6;
  padding: 6px;

  text-decoration: none;
}
footer .footer-menu a:hover{
  color: #27bcda;
}
footer .copyright p {
  font-size: 0.9em;
  text-align: right;
}
@media screen and (max-width: 850px) {footer 
  footer .row.primary {
    grid-template-columns: 1fr;
  }

}